.app {
  &__second-section {
    width: 1128px;
    height: 75px;
    background: #fff;
    border-radius: 0 0 8px 8px;
  }

  &__second-section-button {
    display: inline-block;
    width: max-content;
    height: 32px;
    margin-left: 52px;
    margin-top: 22px;
    padding: 8px 20px 8px 34px;
    background-color: #fff;
    background-image: url("../images/Rectangle\ 6.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 11px;
    border: 1px solid #034971;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #034971;
  }

  &__second-title {
    display: inline-block;
    width: max-content;
    height: 32px;
    margin: 0;
    margin-left: 267px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #000;
  }
}
